<ion-view title="Log in">
    <ion-content padding="true" class="has-header">
        <form name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
            <ion-list>
                <label class="item item-input">
                    <input name="url" type="url" placeholder="http://" ng-model="model.url" required>          
                </label>
                <div class="error" ng-show="(loginForm.url.$dirty || submitted) && loginForm.url.$invalid">Url is required.</div>   
                
                <label class="item item-input">
                    <input name="userName" type="text" placeholder="Username" ng-model="model.username" required>          
                </label>
                <div class="error" ng-show="(loginForm.userName.$dirty || submitted) && loginForm.userName.$invalid">User name is required.</div>

                <label class="item item-input">                    
                    <input name="password" type="password" placeholder="Password" ng-model="model.password" required>
                </label>
                <div class="error" ng-show="(loginForm.password.$dirty || submitted) && loginForm.password.$invalid">Password is required.</div>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button type="submit" class="button button-positive button-block">Log in</button>
        </form>        
    </ion-content>
</ion-view>